body{  
    background-image: url(intview.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: 40%;
    margin-top: 50px;
    margin-left: 30px;
    font-weight: bold;
    
    
}
body::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.8); 
}

#title{
    border: 1px solid black;
    margin-top: 2px;
    margin-bottom: 6px;
    padding-left: 10px;
    width: 375px;
}



#tble{ 
    border: 1px solid black;
}

#numCell{
    width: 60px;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}
#divCell{
    width: 500px;
    border-left: 10px;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

.headerss{
    border: 1px solid black;
    padding-left:  10px;

}

#claim{
    position: relative;
    left: 400px;
    bottom: 48px;
    margin-bottom: -40px;


}
